@model LoginPoC.Web.Areas.Security.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registro";
}
<h2 class="tituloPrincipal">@ViewBag.Title</h2>
<hr class="tituloPrincipal" />
<h3>Asocie su cuenta de @ViewBag.LoginProvider</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Formulario de asociaci&oacute;n de usuario</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Usted se ha autentificado correctamente con <strong>@ViewBag.LoginProvider</strong>.
        Por favor complete el resto del formulario y haga click en el bot&oacute;n de Registrar para iniciar sesi&oacute;n.
    </p>
    <div class="form-group">
        <div class="col-md-2 control-label">Correo <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></div>
        <!--@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Nombre <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></div>
        <!--@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Apellido <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></div>
        <!--@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Tel&eacute;fono</div>
        <!--@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Fecha de Nacimiento <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></div>
        <!--@Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", datepicker = "" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">G&eacute;nero</div>
        <!--@Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.Gender, "Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Pa&iacute;s <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></div>
        <!--@Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Country.Id, Model.Countries, "Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Provincia</div>
        <!--@Html.LabelFor(m => m.StateProvince, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StateProvince)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Ciudad</div>
        <!--@Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Direcci&oacute;n</div>
        <!--@Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Ocupaci&oacute;n</div>
        <!--@Html.LabelFor(m => m.Occupation, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Occupation)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">&iquest;Puede leer?</div>
        <!--@Html.LabelFor(m => m.CanRead, new { @class = "col-md-2 control-label" })-->
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.CanRead, new { @class = "checkbox" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-satia btn-primario" value="Registrar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('input[datepicker]').daterangepicker({
            "singleDatePicker": true,
            "showDropdowns": true,
            "autoApply": true,
            "maxDate": "@DateTime.Now.ToString("dd/MM/yyyy")",
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "daysOfWeek": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sab"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }
        });
    </script>
}
