@model LoginPoC.Web.Areas.Security.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
}


<h2 class="tituloPrincipal">Registro</h2>
<hr class="tituloPrincipal" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Crea una nueva cuenta</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label">Correo</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Contrase&ntilde;a</label>
        <div class="col-md-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirmar Contrase&ntilde;a</label>
        <div class="col-md-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Nombre</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Apellido</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tel&eacute;fono</label>
        <div class="col-md-5">
            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Fecha de Nacimiento</label>
        <div class="col-md-5">
            @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.BirthDate)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Sexo</label>
        <div class="col-md-5">
            @Html.EnumDropDownListFor(m => m.Gender, "Seleccione una alternativa", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Estado Civil</label>
        <div class="col-md-5">
            @Html.EnumDropDownListFor(m => m.MaritalStatus, "Seleccione una alternativa", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MaritalStatus)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Pa&iacute;s</label>
        <div class="col-md-5">
            @Html.DropDownListFor(m => m.Country.Id, Model.Countries, "Seleccione una alternativa", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Provincia</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StateProvince)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Ciudad</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Direcci&oacute;n</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Ocupaci&oacute;n</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Occupation)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">&iquest;Sabe leer?</label>
        <div class="col-md-5">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.CanRead, new { @class = "checkbox" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registrarse" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
