@model LoginPoC.Web.Areas.Security.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
}


<h2 class="tituloPrincipal">Registro</h2>
<hr class="tituloPrincipal" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Crea una nueva cuenta</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label">Correo <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Contrase&ntilde;a <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></label>
        <div class="col-md-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirmar Contrase&ntilde;a</label>
        <div class="col-md-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Nombre <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Apellido <sup><span class="fa fa-asterisk" style="color: #D92020; font-size:8px;"></span></sup></label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tel&eacute;fono</label>
        <div class="col-md-5">
            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Fecha de Nacimiento</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", datepicker = "" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Sexo</label>
        <div class="col-md-5">
            @Html.EnumDropDownListFor(m => m.Gender, "Seleccione una alternativa", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Estado Civil</label>
        <div class="col-md-5">
            @Html.EnumDropDownListFor(m => m.MaritalStatus, "Seleccione una alternativa", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Pa&iacute;s</label>
        <div class="col-md-5">
            @Html.DropDownListFor(m => m.Country.Id, Model.Countries, "Seleccione una alternativa", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Provincia</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Ciudad</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Direcci&oacute;n</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Ocupaci&oacute;n</label>
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Lectura de Textos</label>
        <div class="col-md-5">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.CanRead, new { @class = "checkbox" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-satia btn-primario" value="Registrarse" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('input[datepicker]').daterangepicker({
            "singleDatePicker": true,
            "autoApply": true,
            "maxDate": "@DateTime.Now.ToString("dd/MM/yyyy")",
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "daysOfWeek": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sab"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }
        });
    </script>
}