@{
    ViewBag.Title = "Desuscripcion";
}

<h2 class="tituloPrincipal">Desubscribirse</h2>
<hr class="tituloPrincipal" />
<h3>&iquest;Est&aacute; seguro que desea darse de baja?</h3>
@if (ViewBag.PendingProcessesCount > 0)
{
    <div><p>Advertencia: Tiene @ViewBag.PendingProcessesCount 
        @string.Format("{0}{1}", "trámite", ViewBag.PendingProcessesCount > 1 ? "s" : string.Empty) 
        en curso. Si continúa 
        @string.Format("{0}{1}", "será", ViewBag.PendingProcessesCount > 1 ? "n" : string.Empty)
        @string.Format("{0}{1}", "archivado", ViewBag.PendingProcessesCount > 1 ? "s" : string.Empty).</p></div>
}

<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Continuar" class="btn btn-satia btn-rechazar" />
            <a href="@Url.Action("MyAccount")" class="btn btn-satia btn-secundario">Volver</a>
        </div>
    }
</div>
