@model LoginPoC.Web.Areas.Common.Models.ProcessViewModel

@{
    ViewBag.Title = "Eliminar Trámite";
}

<h2 class="tituloPrincipal readable">@ViewBag.Title</h2>
<hr class="tituloPrincipal readable" />
<h3 class="readable">&iquest;Est&aacute; seguro de eliminar el tr&aacute;mite?</h3>
<div>

    <dl class="dl-horizontal">
        <dt class="readable">
            Fecha de Creaci&oacute;n
            <!--@Html.DisplayNameFor(model => model.CreationDate)-->
        </dt>
        <dd class="readable">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="readable">
            Notas de Revisi&oacute;n
            <!--@Html.DisplayNameFor(model => model.ReviewNotes)-->
        </dt>
        <dd class="readable">
            @Html.DisplayFor(model => model.ReviewNotes)
        </dd>
        <dt class="readable">
            Fecha de Revisi&oacute;n
            <!--@Html.DisplayNameFor(model => model.ReviewDate)-->
        </dt>
        <dd class="readable">
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Eliminar" class="btn btn-satia btn-rechazar readable">Eliminar</button>
            <a href="@Url.Action("MyProcesses")" class="btn btn-satia btn-secundario readable">Volver</a>
        </div>
    }
</div>
