@using LoginPoC.Web.Areas.Common.Models;
@model ProcessIndexViewModel

@{
    ViewBag.Title = "Mis Tramites";
}

<h2>Mis Tr&aacute;mites guardados</h2>
<hr />
<div class="row">
    @using (Html.BeginForm("Index", "MyProcess", FormMethod.Get, new { area = "Common" }))
    {
        <div class="col-xs-6 tipoTramite-buscar">
            <input type="text" placeholder="Buscar trámite" name="name" id="name" value="@Model.SearchByName" />
            <button type="submit" class="fa fa-search"></button>
        </div>
    }
    <div class="col-xs-6 tipoTramite-crear">
        <p style="margin-bottom:0">
            <a href="@Url.Action("Create")" class="tipoTramite-textoCrear">
                Crear Nuevo Trámite
                <span class="fa fa-plus" style="float:right; margin-right: 30px"></span>
            </a>
        </p>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model.Processes)
    {
        <div class="col-xs-offset-2 col-xs-8">
            <p class="tipoTramite-item">
                <span class="tipoTramite-nombre" style="cursor: pointer;">
                    @item.Name
                </span>
                <a href="@Url.Action("Delete", new { id = item.Id })"><span class='fa fa-trash tipoTramite-itemBtn'></span></a>
                <a href="@Url.Action("Edit", new { id = item.Id })"><span class='fa fa-pencil tipoTramite-itemBtn'></span></a>

            </p>            
        </div>
    }
</div>
@section Scripts{

}