@using LoginPoC.Web.Areas.Common.Models;
@using Newtonsoft.Json
@model ProcessIndexViewModel
@{
    var jsonModel = JsonConvert.SerializeObject(Model);
    ViewBag.Title = "Mis Tramites";
}

<h2 class="tituloPrincipal">Mis tr&aacute;mites guardados</h2>
<hr class="tituloPrincipal" />
<div ng-controller="Process.Index" ng-init='events.onInit(@Html.Raw(jsonModel))'>
    <div class="row">
        @using (Html.BeginForm("MyProcesses", "Process", FormMethod.Get, new { area = "Common" }))
        {
            <div class="col-xs-6 tipoTramite-buscar">
                <input type="text" placeholder="Buscar trámite" name="name" id="name" value="@Model.SearchByName" />
                <button type="submit" class="fa fa-search"></button>
            </div>
        }
        <!--<select ng-model="selectedProcessType" ng-options="processType.id as processType.name for processType in processTypes"></select>
        @{
            var url = Url.Action("Create", new { id = "{{selectedProcessType}}" });
            url = HttpUtility.UrlDecode(url);
        }
        <a data-ng-href="@url">
            Crear Nuevo Trámite
            <span class="fa fa-plus" style="float:right; margin-right: 30px"></span>
        </a>-->
    </div>
    <br />
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <table class="table-striped" style="width:100%">
                <thead>
                    <tr>
                        <td width="10%" ng-show="anyDeprecated()"></td>
                        <th width="40%">Tr&aacute;mite</th>
                        <th width="25%">Fecha de creaci&oacute;n</th>
                        <th width="15%">Estado</th>
                        <th width="5%">Editar</th>
                        <th width="5%">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="process in processes">
                        <td width="10%" ng-if="anyDeprecated()">
                            <div ng-hide="process.type.isActive">DEPRECADO</div>
                        </td>
                        <td width="40%">{{ process.type.name }}</td>
                        <td width="25%">{{ process.creationDate | date : "dd/MM/yyyy h:mm a" }}</td>
                        <td width="15%">{{ getStatusLabel(process.status) }}</td>
                        <td width="5%" class="text-center">
                            @{
                                var editUrl = Url.Action("Edit", new { id = "{{process.id}}" });
                                editUrl = HttpUtility.UrlDecode(editUrl);
                            }
                            <a data-ng-href="@editUrl"><span class='fa tipoTramite-itemBtn' ng-class="{ 'fa-pencil': process.status == 'Draft' || process.status == 'Rejected', 'fa-eye' : process.status == 'Approved' || process.status == 'Submitted' }"></span></a>
                        </td>
                        <td width="5%" class="text-center">
                            @{
                                var deleteUrl = Url.Action("Delete", new { id = "{{process.id}}" });
                                deleteUrl = HttpUtility.UrlDecode(deleteUrl);
                            }
                            <a href="@deleteUrl"><span class='fa fa-trash tipoTramite-itemBtn'></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Site/Process/Process.Index.js"></script>
}