@using LoginPoC.Web.Areas.Admin.Models;
@model AgentIndexViewModel

@{
    ViewBag.Title = "Asesores";
}

<h2 class="tituloPrincipal">@ViewBag.Title</h2>
<hr class="tituloPrincipal" />
<div class="row">
    @using (Html.BeginForm("Index", "Agent", FormMethod.Get, new { area = "Admin" }))
    {
        <div class="col-xs-6 tipoTramite-buscar">
            <input type="text" placeholder="Buscar asesor" name="name" id="name" value="@Model.SearchByName" />
            <button type="submit" class="fa fa-search"></button>
        </div>
    }
    <div class="col-xs-6 tipoTramite-crear">
        <p style="margin-bottom:0">
            <a href="@Url.Action("Register", "Agent", new { area = "Admin"})" class="tipoTramite-textoCrear">
                Nuevo Asesor
                <span class="fa fa-plus" style="float:right; margin-right: 30px"></span>
            </a>
        </p>
    </div>
</div>
<br />
<div class="row listado">
    @foreach (var item in Model.Agents)
    {
        <div class="col-xs-offset-2 col-xs-8">
            <p class="tipoTramite-item">
                <span class="tipoTramite-nombre">
                    <a href="@Url.Action("Edit", new { id = item.Id })">@item.LastName, @item.FirstName</a>
                </span>
                <a href="@Url.Action("Edit", new { id = item.Id })"><span class='fa fa-pencil tipoTramite-itemBtn'></span></a>
            </p>
        </div>
    }
</div>
@section Scripts{

}