@using LoginPoC.Model.User
@model LoginPoC.Model.ProcessType.ProcessType

@{
    ViewBag.Title = "Details";
}

<h2 class="tituloPrincipal">Detalles de Tipo de Tr&aacute;mite</h2>
<hr class="tituloPrincipal" />
<div>
    <dl class="dl-horizontal tipoTramite-detalles">
        <dt>
            Nombre
            <!--@Html.DisplayNameFor(model => model.Name)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Descripci&oacute;n
            <!--@Html.DisplayNameFor(model => model.Description)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            VideoTutorial
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.URLVideo))
            {
                <iframe width="427" height="240" src="@Html.DisplayFor(model => model.URLVideo)" frameborder="0" allowfullscreen></iframe>
            }
            else
            {
                <span>Sin VideoTutorial</span>
            }
            
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-xs-1 text-center">
        @if (User.IsInRole(ApplicationUserRoles.Agent) || User.IsInRole(ApplicationUserRoles.Administrator))
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
        }
        
        @if (User.IsInRole(ApplicationUserRoles.User))
        {
            <a href="@Url.Action("Create", "Process", new { area = "Common", id = Model.Id } )" class="btn btn-default pull-right">Iniciar tramite</a>
        }
    </div>
    <div class="col-xs-1 text-center">
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
