@model LoginPoC.Model.ProcessType.ProcessType

@{
    ViewBag.Title = "Details";
}

<h2 class="tituloPrincipal">Detalles de Tipo de Tr&aacute;mite</h2>
<hr class="tituloPrincipal" />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
