@using LoginPoC.Model.User
@using LoginPoC.Web.Areas.Admin.Models;
@model ProcessTypeIndexViewModel

@{
    ViewBag.Title = "Tipos de Tramites";
}

<h2 class="tituloPrincipal">Tipos de Tr&aacute;mite</h2>
<hr class="tituloPrincipal" />
<div class="row">
    @using (Html.BeginForm("Index", "ProcessType", FormMethod.Get, new { area = "Admin" }))
    {
    <div class="col-xs-6 tipoTramite-buscar">
        <input type="text" placeholder="Buscar tipo de trámite" name="name" id="name" value="@Model.SearchByName"/>
        <button type="submit" class="fa fa-search"></button>
    </div>
    }
    @if (User.IsInRole(ApplicationUserRoles.Administrator))
    {
    <div class="col-xs-6 tipoTramite-crear">
        <p style="margin-bottom:0">
            <a href="@Url.Action("Create")" class="tipoTramite-textoCrear">
                Crear Nuevo Tipo de Trámite
                <span class="fa fa-plus" style="float:right; margin-right: 30px"></span>
            </a>
        </p>
    </div>
        }
</div>
<br />
<div class="row">
    @foreach (var item in Model.ProcessTypes)
    {
        <div class="col-xs-6">
            <p class="tipoTramite-item">
                <span class="tipoTramite-nombre">
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
                <a href="#"><span class='fa fa-caret-down tipoTramite-itemBtn' id="tipoTramite-@item.Id"></span></a>
                @if (User.IsInRole(ApplicationUserRoles.Administrator))
                {
                    <a href="@Url.Action("Delete", new { id = item.Id })"><span class='fa fa-trash tipoTramite-itemBtn'></span></a>
                }
                @if (User.IsInRole(ApplicationUserRoles.Agent) || User.IsInRole(ApplicationUserRoles.Administrator))
                {
                    <a href="@Url.Action("Edit", new { id = item.Id })"><span class='fa fa-pencil tipoTramite-itemBtn'></span></a>
                }
            </p>
            <div hidden class="tipoTramite-descripcion" id="tipoTramite-@item.Id">
                <p class="tipoTramite-descripcion">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <p class="tipoTramite-descripcion">
                    <a href="@Url.Action("Details",new { id = item.Id })" class="tipoTramite-verDetalles">Ver Detalles del trámite</a>
                    @if (User.IsInRole(ApplicationUserRoles.User))
                    {
                        <a href="@Url.Action("Create", "Process", new { area = "Common", id = item.Id } )" class="btn btn-default pull-right">Iniciar tramite</a>
                    }
                </p>
            </div>

        </div>
    }
</div>

@section Scripts{
    <script src="~/Scripts/Site/ProcessType/ProcessType.Index.js"></script>
}