<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SATIA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @RenderSection("styles", required: false)
</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top header">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home", new { area = "Common" })"><img src="~/Content/Images/Logo-header-01.png"/></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_MenuPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="text-right">
        <div id="google_translate_element" style="float:left; margin: 12px 10px"></div>
        <p>DIRECCI&Oacute;N 1234, CABA / (00 54 11) 1234-5678 / 12345 &copy; @DateTime.Now.Year - G407</p> 

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'es', includedLanguages: 'es,en,fr,mi', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    </footer>

    <script src="https://ft-polyfill-service.herokuapp.com/v2/polyfill.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
