@using Microsoft.AspNet.Identity
@using LoginPoC.Model.User
@using AutoMapper;
@using LoginPoC.Core.User;
@using LoginPoC.Web.Areas.Common.Models;
@using LoginPoC.Web.Helpers;
@using Microsoft.AspNet.Identity;
@using Microsoft.Owin.Security;
@using System;
@using System.Threading.Tasks;
@using System.Web;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Newtonsoft.Json;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta fa
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SATIA</title>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @RenderSection("styles", required: false)

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top header">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home", new { area = "Common" })"><img src="~/Content/Images/Logo-header-01.png"/></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_MenuPartial")
            </div>
        </div>
    </div>
    <div class="container body-content ng-cloak">
        @RenderBody()
    </div>
    <footer class="text-right">
        <div id="google_translate_element" style="float:left; margin: 12px 10px"></div>
        <p class="readable">Medrano 951 (C1179AAQ) C.A.B.A. Tel: (54 11) 4867-7500 &copy; @DateTime.Now.Year - G407</p> 

            
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'es', includedLanguages: 'es,en,fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
            }
            function readCookie(name) {
                var c = document.cookie.split('; '),
                    cookies = {}, i, C;

                for (i = c.length - 1; i >= 0; i--) {
                    C = c[i].split('=');
                    cookies[C[0]] = C[1];
                }

                return cookies[name];
            }

            function languageToRead(selectedGoogleLanguage) {
                if (selectedGoogleLanguage == undefined) {
                    return 'Spanish Latin American Female';
                }
                switch (selectedGoogleLanguage.substr(4)) {
                    case 'en':
                        return 'UK English Female';
                    case 'es':
                        return 'Spanish Latin American Female';
                    case 'fr':
                        return 'French Female';
                }
            }

            if (@JsonConvert.SerializeObject(User.Identity.GetCanRead()) && @JsonConvert.SerializeObject(User.Identity.IsAuthenticated)) {
                $(document).on('mouseover', '.readable', function (e) {
                    responsiveVoice.speak($('.readable:hover').text(), languageToRead(readCookie('googtrans')));
                });
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    </footer>

    <script src="https://ft-polyfill-service.herokuapp.com/v2/polyfill.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
