@using Microsoft.AspNet.Identity
@using LoginPoC.Model.User
<ul class="nav navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("Tipos de trámites", "Index", "ProcessType", new { area = "Admin" }, new { @class = "header-btn-link" })</li>

        if (User.IsInRole(ApplicationUserRoles.User))
        {
            <li>@Html.ActionLink("Trámites Guardados", "MyProcesses", "Process", new { area = "Common" }, new { @class = "header-btn-link" })</li>
        }

        if (User.IsInRole(ApplicationUserRoles.Agent) || User.IsInRole(ApplicationUserRoles.Administrator))
        {
            <li>@Html.ActionLink("Trámites", "Index", "Process", new { area = "Common" }, new { @class = "header-btn-link" })</li>
        }

        if(User.IsInRole(ApplicationUserRoles.Administrator))
        {
            <li>@Html.ActionLink("Asesores", "Index", "Agent", new { area = "Admin" }, new { @class = "header-btn-link" })</li>
            <li>@Html.ActionLink("Equipos", "Index", "Team", new { area = "Admin" }, new { @class = "header-btn-link" })</li>
        }
    }
</ul>

@Html.Partial("_LoginPartial")