@using Microsoft.AspNet.Identity
@using LoginPoC.Model.User
<ul class="nav navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("Tipos de tramites", "Index", "ProcessType", new { area = "Admin" }, new { })</li>

        if (User.IsInRole(ApplicationUserRoles.User) || User.IsInRole(ApplicationUserRoles.Administrator))
        {
            <li>@Html.ActionLink("Tramites Guardados", "MyProcesses", "Process", new { area = "Common" }, new { })</li>
        }

        if (User.IsInRole(ApplicationUserRoles.Agent) || User.IsInRole(ApplicationUserRoles.Administrator))
        {
            <li>@Html.ActionLink("Tramites", "Index", "Process", new { area = "Common" }, new { })</li>
            <li>@Html.ActionLink("Asesores", "Index", "Agent", new { area = "Admin" }, new { })</li>
        }
    }
</ul>
@Html.Partial("_LoginPartial")